[Match]
Name=Vlan0067
Type=vlan

[Network]
DHCP=yes
Address=dhcp

[DHCPv4]
UseHostname=false
UseDNS=true
UseNTP=true

[DHCPv6]
UseHostname=false
UseDNS=true
UseNTP=true
