[Match]
Name=eth0

[Link]
MACAddress=00:11:22:33:44:55
MTUBytes=1530

[Network]
DHCP=yes

[DHCP]
Hostname=hogehoge

[Address]
Address=192.168.0.10/24
Peer=192.168.0.2

[Route]
Gateway=192.168.0.1
