[Match]
Name=vlan99

[Network]
DHCP=no
LinkLocalAddressing=no
IPv6AcceptRA=no
DNS=10.10.10.10
DNS=10.10.10.11

[Address]
Address=192.168.0.10/24

[Route]
Destination=10.1.2.3/16
Gateway=10.0.2.3

[Route]
Gateway=192.168.0.1
