[Unit]
Description=Fetch rdi-installer config (early, local disk only)
After=local-fs.target
Wants=network-pre.target
Before=network-pre.target
Before=ifcfg-networkd.service rdii-ssh-setup.service
Before=sshd.service getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rdii-fetch-config --local-only

[Install]
WantedBy=multi-user.target
