[Unit]
Description=Configure network via networkd from Kernel Command Line
Documentation=man:rdii-networkd(8)
After=local-fs.target
Before= systemd-networkd.service sshd.service getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rdii-networkd --config=/run/rdi-installer/rdii-config

[Install]
WantedBy=multi-user.target
