[Unit]
Description=Configure SSH from Kernel Command Line
After=local-fs.target
Before=sshd.service getty.target

[Service]
#Type=oneshot
#RemainAfterExit=yes
ExecStart=/usr/bin/rdii-ssh-setup

[Install]
WantedBy=multi-user.target
